<main>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item"
      style="max-height: 300px;"
      *ngFor="let film of films?.results; index as i"
    >
      <div class="flex-row">
        <div class="film-poster">
          <img
            class="film-poster-img"
            src="{{ 'http://image.tmdb.org/t/p/w185/' + film.poster_path }}"
          />
          <span class=""></span>
        </div>

        <div class="flex-column">
          <p class="m-2">{{ film.title }}</p>
          <p class="m-2">{{ film.release_date }}</p>
          <p class="m-2">{{ film.overview }}</p>
        </div>
      </div>
    </li>
  </ul>
  <app-pagination [page]="films?.page"></app-pagination>
</main>
