<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">{{
    this._langService.data.movieApp
  }}</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          routerLink="/home-page"
          routerLinkActive="active-nav"
          >{{ this._langService.data.home }}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/films" routerLinkActive="active-nav"
          >{{ this._langService.data.films }}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/serials" routerLinkActive="active-nav"
          >{{ this._langService.data.serials }}
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input
          type="text"
          class="form-control search-input"
          aria-describedby="button-addon2"
          [placeholder]="this._langService.data.search"
          [formControl]="this._filmService.searchInput"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-info"
            type="button"
            id="button-addon2"
            (click)="search()"
          >
            {{ this._langService.data.search }}
          </button>
        </div>
      </div>
    </form>
    <app-language-select></app-language-select>
    <app-login></app-login>
  </div>
</nav>
